<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder charset="UTF-8">
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread] %file:%line - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender name="SYS_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${user.dir}/log/info.log</File>
    <append>true</append>
    <!--过滤器,只打INFO级别的日志-->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${user.dir}/log/info.log.%d</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder charset="UTF-8">
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread] %file:%line - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender name="SYS_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${user.dir}/log/error.log</File>
    <append>true</append>
    <!--过滤器,只打ERROR级别的日志-->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${user.dir}/log/error.log.%d</fileNamePattern>
      <maxHistory>12</maxHistory>
    </rollingPolicy>

    <encoder charset="UTF-8">
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread] %file:%line - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <logger name="consolep" additivity="false" level="INFO">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <!--info和error分开打印-->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="SYS_INFO"/>
    <appender-ref ref="SYS_ERROR"/>
  </root>
</configuration>